/* ------ GLOBAL ------ */
*{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0 auto;
}

body{
    width: 100%;
    height: 100%;
    background-color: hsl(273, 75%, 66%);
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container{
  background-color: white;
  height: 500px;
  width: 880px;
}


/* ------ FAQ CONTAINER ------ */
#faqContainer *{
  margin: 0;
}

.cardItem{
  border: 0 solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.cardHeader{
  cursor: pointer;
}

#faqContainer h2{
  align-items: stretch;
  font-size:1.5rem;
  
  margin: 1rem 0;
}

#faqContainer p{
  background-color: white;
}

/* ------ FOOTER ------ */
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }